<picture *ngIf="isFeatured && !imageUrls">
  <source *ngIf="includeWebp" type="image/webp" media="(min-width: 1150px)" srcset="assets/img/{{fileName}}-desktop@1x.webp 1x, assets/img/{{fileName}}-desktop@2x.webp 2x">
  <source *ngIf="includeWebp" type="image/webp" media="(min-width: 768px)" srcset="assets/img/{{fileName}}-tablet@1x.webp 1x, assets/img/{{fileName}}-tablet@2x.webp 2x">
  <source *ngIf="includeWebp" type="image/webp" srcset="assets/img/{{fileName}}-mobile@1x.webp 1x, assets/img/{{fileName}}-mobile@2x.webp 2x">
  <source media="(min-width: 1150px)" srcset="assets/img/{{fileName}}-desktop@1x.jpg 1x, assets/img/{{fileName}}-desktop@2x.jpg 2x">
  <source media="(min-width: 768px)" srcset="assets/img/{{fileName}}-tablet@1x.jpg 1x, assets/img/{{fileName}}-tablet@2x.jpg 2x">
  <img
    class="featured-item__image"
    src="assets/img/{{fileName}}-mobile@1x.jpg"
    srcset="assets/img/{{fileName}}-mobile@2x.jpg 2x"
    width="{{ width }}"
    height="{{ height }}"
    alt="{{ altText }}">
</picture>

<picture *ngIf="!isFeatured && !imageUrls">
  <source *ngIf="includeWebp" type="image/webp" media="(min-width: 1150px)" srcset="assets/img/catalog/{{fileName}}-desktop.webp 1x, assets/img/catalog/{{fileName}}-desktop@2x.webp 2x">
  <source *ngIf="includeWebp" type="image/webp" media="(min-width: 768px)" srcset="assets/img/catalog/{{fileName}}-tablet.webp 1x, assets/img/catalog/{{fileName}}-tablet@2x.webp 2x">
  <source *ngIf="includeWebp" type="image/webp" srcset="assets/img/catalog/{{fileName}}-mobile.webp 1x, assets/img/catalog/{{fileName}}-mobile@2x.webp 2x">
  <source media="(min-width: 1150px)" srcset="assets/img/catalog/{{fileName}}-desktop.jpg 1x, assets/img/catalog/{{fileName}}-desktop@2x.jpg 2x">
  <source media="(min-width: 768px)" srcset="assets/img/catalog/{{fileName}}-tablet.jpg 1x, assets/img/catalog/{{fileName}}-tablet@2x.jpg 2x">
  <img
    class="catalog-item__image"
    src="assets/img/catalog/{{fileName}}-mobile.jpg"
    srcset="assets/img/catalog/{{fileName}}-mobile@2x.jpg 2x"
    width="{{ width }}"
    height="{{ height }}"
    alt="{{ altText }}">
</picture>

<picture *ngIf="imageUrls">
  <source media="(min-width: 1150px)" srcset="{{ imageUrls.desktop }} 1x, {{ imageUrls.desktopx2 }} 2x">
  <source media="(min-width: 768px)" srcset="{{ imageUrls.tablet }} 1x, {{ imageUrls.tabletx2 }} 2x">
  <img
    class="catalog-item__image"
    src="{{ imageUrls.mobile }}"
    srcset="{{ imageUrls.mobilex2 }} 2x"
    width="{{ width }}"
    height="{{ height }}"
    alt="{{ altText }}">
</picture>
