<main class="page-inner">
  <div class="page-inner__header">
    <h1 class="page-inner__title">{{ 'T_APP.CART.TITLE' | translate }}</h1>
  </div>
  <section class="catalog" *ngIf="products.length; else emptyCart">
    <h2 class="visually-hidden">{{ 'T_APP.CART.LIST' | translate }}</h2>
    <form class="cart-form">
      <fieldset>
        <table>
          <thead>
            <tr>
              <th>Description</th>
              <th>Size</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products">
              <td>
                <div class="description-wrapper">
                  <h3>{{ item.product.name }}</h3>
                  <img src="{{ item.product.img.url.mobile }}" alt="{{ item.product.img.alt }}" height="50" width="50">
                </div>
              </td>
              <td>
                <span class="bordered-label">M</span>
              </td>
              <td>
                <div class="quantity-wrapper">
                  <mat-form-field appearance="fill">
                    <mat-select [value]="item.quantity.toString()" (valueChange)="updateQuantity($event, item.product.id)">
                      <mat-option value="0">0 (Delete Item)</mat-option>
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                      <mat-option value="3">3</mat-option>
                      <mat-option value="4">4</mat-option>
                      <mat-option value="5">5</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </td>
              <td>
                <span class="price">{{ (item.product.price * item.quantity) | currency }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </fieldset>
    </form>
    <div class="cart-footer">
      <form>
        <p>Enter your promo code if you have one.</p>
        <div class="promo-code-wrapper">
          <input class="cart-input promo-code-input" type="text" placeholder="Please enter your promo code"/>
          <button class="button basic cart-button" type="submit" (click)="applyDiscount($event)">Apply Discount</button>
        </div>
      </form>
      <div class="cart-total">
        <p class="cart-total-sum">
          <b>TOTAL</b>
          <b>{{ sum | currency }}</b>
        </p>
        <button class="button green cart-button submit-button" (click)="checkOut($event)">Checkout</button>
      </div>
    </div>
  </section>

  <ng-template #emptyCart>
    <section class="cart">
      <h2 class="visually-hidden">{{ 'T_APP.CART.LIST' | translate }}</h2>
      <p>There is nothing in your cart yet.</p>
    </section>
  </ng-template>
</main>
