@import "../../../../assets/styles/global/variables.scss";

svg {
  color: rgba($basic-black, 0.2);
  margin-right: -4px;

  &:hover {
    color: $light-green;
  }

  &:active {
    color: rgba($light-green, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 3px;
    margin-right: -2px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 5px;
  }
}