<header>
  <div class="page-header__wrapper">
    <a class="page-header__logo page-header__logo--main-page" [routerLink]="['']">
      <picture>
        <source media="(min-width: 1150px)" srcset="assets/img/mishka-logo-desktop.svg">
        <source media="(min-width: 768px)" srcset="assets/img/mishka-logo-tablet.svg">
        <img src="assets/img/logo-mobile.svg" width="86" height="35" alt="Online shop Mishka">
      </picture>
    </a>
    <nav #navigationMenu class="page-navigation">
      <button
        class="page-navigation__toggle"
        (click)="toggleMenu()"
      >
        <span class="visually-hidden">Open menu</span>
      </button>
      <div class="page-navigation__wrapper">
        <ul class="page-navigation__list site-navigation">
          <li class="site-navigation__item">
            <a [routerLink]="['catalog']">{{ 'T_APP.MENU.CATALOG' | translate }}</a>
          </li>
          <li class="site-navigation__item">
            <a [routerLink]="['order']">{{ 'T_APP.MENU.ORDER' | translate }}</a>
          </li>
        </ul>
        <ul class="page-navigation__list user-navigation">
          <li class="user-navigation__item">
            <a [routerLink]="['cart']" 
              matTooltip="{{ productsInCart ? 'See cart' : 'Cart is empty' }}"
            >
              <mat-icon
                fontSet="material-icons-outlined"
                [matBadge]="productsInCart"
                [matBadgeHidden]="!productsInCart"
                matBadgeColor="warn"
              >shopping_cart</mat-icon>
            </a>
          </li>
          <li class="user-navigation__item">
            <button *ngIf="isLoggedIn; else logIn" (click)="logOut()">
              <mat-icon fontSet="material-icons-outlined">logout</mat-icon>
              <span class="user-navigation__item-text">{{ 'T_APP.LOGOUT' | translate }}</span>
            </button>
            <ng-template #logIn>
              <a [routerLink]="['login']">
                <mat-icon fontSet="material-icons-outlined">home</mat-icon>
                <span class="user-navigation__item-text">{{ 'T_APP.LOGIN' | translate }}</span>
              </a>
            </ng-template>
          </li>
        </ul>
        <ul class="page-navigation__list aside-navigation">
          <li class="aside-navigation__item">
            <a [routerLink]="['catalog']">{{ 'T_APP.MENU.NEW_ARRIVALS' | translate }}</a>
          </li>
          <li class="aside-navigation__item">
            <a [routerLink]="['catalog']">{{ 'T_APP.MENU.SALE' | translate }}</a>
          </li>
        </ul>
        <p class="page-navigation__delivery-info">{{ 'T_APP.MENU.FREE_DELIVERY' | translate }}</p>
      </div>
    </nav>
  </div>
</header>