<header>
  <div class="page-header__wrapper">
    <a class="page-header__logo page-header__logo--main-page" [routerLink]="['']">
      <picture>
        <source media="(min-width: 1150px)" srcset="assets/img/mishka-logo-desktop.svg">
        <source media="(min-width: 768px)" srcset="assets/img/mishka-logo-tablet.svg">
        <img src="assets/img/logo-mobile.svg" width="86" height="35" alt="Online shop Mishka">
      </picture>
    </a>
    <nav class="page-navigation page-navigation--nojs">
      <button class="page-navigation__toggle">
        <span class="visually-hidden">Open menu</span>
      </button>
      <div class="page-navigation__wrapper">
        <ul class="page-navigation__list site-navigation">
          <li class="site-navigation__item">
            <a [routerLink]="['catalog']">{{ 'T_APP.MENU.CATALOG' | translate }}</a>
          </li>
          <li class="site-navigation__item">
            <a [routerLink]="['order']">{{ 'T_APP.MENU.ORDER' | translate }}</a>
          </li>
        </ul>
        <ul class="page-navigation__list user-navigation">
            <li class="user-navigation__search">
              <a [routerLink]="['']" aria-label="Search">
                <svg width="18" height="18">
                  <path d="M17.7 16.06l-3.48-3.48a7.63 7.63 0 001.53-4.7c0-4.4-3.48-7.88-7.88-7.88A7.81 7.81 0 000 7.88c0 4.4 3.48 7.87 7.88 7.87 1.73 0 3.37-.61 4.7-1.53l3.48 3.47c.2.2.4.31.82.31.6 0 1.12-.51 1.12-1.13 0-.2-.1-.5-.3-.81zM2.24 7.88a5.67 5.67 0 015.63-5.63 5.67 5.67 0 015.62 5.63 5.67 5.67 0 01-5.63 5.62 5.67 5.67 0 01-5.62-5.63z"/>
                </svg>
                <span>Search</span>
              </a>
            </li>
            <li class="user-navigation__cart">
              <app-cart-button [textContent]="'T_APP.CART.EMPTY'"></app-cart-button>
            </li>
        </ul>
        <ul class="page-navigation__list aside-navigation">
          <li class="aside-navigation__item">
            <a [routerLink]="['catalog']">{{ 'T_APP.MENU.NEW_ARRIVALS' | translate }}</a>
          </li>
          <li class="aside-navigation__item">
            <a [routerLink]="['catalog']">{{ 'T_APP.MENU.SALE' | translate }}</a>
          </li>
        </ul>
        <p class="page-navigation__delivery-info">{{ 'T_APP.MENU.FREE_DELIVERY' | translate }}</p>
      </div>
    </nav>
  </div>
</header>