<section class="about">
  <div class="about__wrapper">
    <h2 class="visually-hidden">Information about the shop</h2>
    <p class="about__title">About us:</p>
    <ul class="about__list">
      <li class="about__item about__item--eco">Environmentally<br>friendly materials</li>
      <li class="about__item about__item--hand-made">Hand-knitted<br>with love and tenderness</li>
      <li class="about__item about__item--price">Scandinavian style<br>at an affordable price</li>
      <li class="about__item about__item--local">Domestic manufacturer support</li>
      <li class="about__item about__item--likes">Increases likes<br>on photos</li>
      <li class="about__item about__item--wrapping">Delivered<br>in a gift box</li>
    </ul>
  </div>
</section>
