<section class="reviews">
  <div class="reviews__wrapper">
  <h2 class="reviews__title">Customer reviews</h2>
  <blockquote class="reviews__item reviews__item--current">
    <p class="reviews__text">I am a young mother, but all the same, the photos did not get close to as many likes as popular instamoms. In desperation, I bought accessories and toys in Mishka, and my photos immediately became more stylish, and also get more likes!</p>
    <cite class="reviews__author-name">Nancy Yamato</cite>
    <p class="reviews__author-email"><a href="mailto:@nyamato">@nyamato</a></p>
  </blockquote>
  <blockquote class="reviews__item">
    <p class="reviews__text">I am a sister of the young mother, but still, the photos didn’t get close to as many likes as popular instamoms. In desperation, I bought accessories and toys in Mishka, and my photos immediately became more stylish, as well as getting more likes!</p>
    <cite class="reviews__author-name">Punira Lapin</cite>
    <p class="reviews__author-email"><a href="mailto:@punipin">@punipin</a></p>
  </blockquote>
  <blockquote class="reviews__item">
    <p class="reviews__text">I am a cousin of the young mother, but still, the photos didn’t get close to as many likes as popular instamoms. In desperation, I bought accessories and toys in Mishka, and my photos immediately became more stylish, as well as getting more likes!</p>
    <cite class="reviews__author-name">Nana Kawasaki</cite>
    <p class="reviews__author-email"><a href="mailto:@nanahachi">@nanahachi</a></p>
  </blockquote>
  <p class="reviews__navigation">
    <button class="button-review button-review--previous" aria-label="Previous review"></button>
    <button class="button-review button-review--next" aria-label="Next review"></button>
  </p>
  <app-button class="button-send-review"
    [textContent]="'T_ACTION.LEAVE_FEEDBACK'"
  ></app-button>
  </div>
</section>
