@import "../../../../assets/styles/global/variables.scss";

.button-send-review {
  max-width: 260px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 50px;
    top: 79px;
    min-width: 175px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    right: 0;
    top: 80px;
  }
}