<section #modal class="modal" (click)="check($event)">
  <div class="modal__content">
    <h2 class="modal__title">Add to cart</h2>
    <form class="modal__form" method="get" action="https://echo.htmlacademy.ru/">
      <fieldset class="modal__size">
        <legend class="modal__legend">Choose the size:</legend>
        <ul class="modal__list">
          <li class="modal__item">
            <input class="visually-hidden modal__input" type="radio" name="featured-item__size" id="s-size" value="s-size" aria-label="S-size" checked>
            <label for="s-size">S</label>
          </li>
          <li class="modal__item">
            <input class="visually-hidden modal__input" type="radio" name="featured-item__size" id="m-size" value="m-size" aria-label="M-size">
            <label for="m-size">M</label>
          </li>
          <li class="modal__item">
            <input class="visually-hidden modal__input" type="radio" name="featured-item__size" id="l-size" value="l-size" aria-label="L-size">
            <label for="l-size">L</label>
          </li>
        </ul>
      </fieldset>
      <button type="submit" class="modal__button-submit" aria-label="Add to cart">Add to cart</button>
    </form>
  </div>
</section>
