@import "../../../assets/styles/global/variables.scss";

.production__order {
  margin: 0 34px 33px;

  @media (min-width: $tablet-width) {
    margin: 0 42px 46px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.item {
  @media (min-width: $desktop-width) {
    margin-right: 51px;
  }

  &:nth-child(3n) {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }
}