<section class="categories">
  <div class="categories__wrapper">
    <h2 class="visually-hidden">Product categories</h2>
    <ul class="categories__list">
      <li class="categories__item categories__item--interior">
        <a class="categories__link" [routerLink]="['catalog']">
          <p class="categories__text">Home decore</p>
        </a>
      </li>
      <li class="categories__item categories__item--toys">
        <a class="categories__link" [routerLink]="['catalog']">
          <p class="categories__text">Toys for kids</p>
        </a>
        </li>
    </ul>
  </div>
</section>