<section class="categories">
  <div class="categories__wrapper">
    <h2 class="visually-hidden">{{ 'T_APP.CARTEGORY.TITLE' | translate }}</h2>
    <ul class="categories__list">
      <li class="categories__item categories__item--interior">
        <a class="categories__link" [routerLink]="['catalog', 'decore']">
          <p class="categories__text">{{ 'T_APP.CARTEGORY.HOME_DECORE' | translate }}</p>
        </a>
      </li>
      <li class="categories__item categories__item--toys">
        <a class="categories__link" [routerLink]="['catalog', 'toys']">
          <p class="categories__text">{{ 'T_APP.CARTEGORY.TOYS' | translate }}</p>
        </a>
        </li>
    </ul>
  </div>
</section>