<main class="page-inner">
  <div class="page-inner__header">
    <h1 class="page-inner__title">Knitting to order</h1>
  </div>
  <p class="page-form__description">We will be happy to make your wishes come true! Fill out a simple order form and we will contact you to clarify the details.</p>
  <form class="page-form__form form" method="get" action="https://echo.htmlacademy.ru/">
    <fieldset class="form__fieldset form__type">
      <legend class="form__legend">Type</legend>
      <ul class="form__list">
        <li class="form__item">
          <input class="visually-hidden form__input form__input--radio" type="radio" name="type" id="accessory" value="accessory" checked>
          <label for="accessory">Decore accessory</label>
        </li>
        <li class="form__item">
          <input class="visually-hidden form__input form__input--radio" type="radio" name="type" id="toy" value="toy">
          <label for="toy">Toy</label>
        </li>
      </ul>
    </fieldset>
    <div class=form__wrapper>
      <fieldset class="form__fieldset form__color">
        <legend class="form__legend">Color</legend>
        <ul class="form__list">
          <li class="form__item">
            <input class="visually-hidden form__input form__input--checkbox" type="checkbox" name="color" id="white" value="white" checked>
            <label for="white">White</label>
          </li>
          <li class="form__item">
            <input class="visually-hidden form__input form__input--checkbox" type="checkbox" name="color" id="grey" value="grey" checked>
            <label for="grey">Grey</label>
          </li>
          <li class="form__item">
            <input class="visually-hidden form__input form__input--checkbox" type="checkbox" name="color" id="tiffany" value="tiffany">
            <label for="tiffany">"Tiffany"</label>
          </li>
          <li class="form__item">
            <input class="visually-hidden form__input form__input--checkbox" type="checkbox" name="color" id="black" value="black">
            <label for="black">Black</label>
          </li>
          <li class="form__item">
            <input class="visually-hidden form__input form__input--checkbox" type="checkbox" name="color" id="pink" value="pink">
            <label for="pink">Pink</label>
          </li>
          <li class="form__item">
            <input class="visually-hidden form__input form__input--checkbox" type="checkbox" name="color" id="orange" value="orange">
            <label for="orange">Orange</label>
          </li>
        </ul>
      </fieldset>
    </div>
    <fieldset class="form__fieldset form__name">
      <legend class="form__legend">Name</legend>
      <div class="form__name-wrapper">
        <label for="first-name">First:</label>
        <input class="form__input-text" type="text" name="name" id="first-name" placeholder="Enter your first name*" required>
      </div>
      <div class="form__name-wrapper">
        <label for="last-name">Last:</label>
        <input class="form__input-text" type="text" name="name" id="last-name" placeholder="Enter your last name*" required>
      </div>
    </fieldset>
    <div class="form__wrapper">
      <fieldset class="form__fieldset form__telephone">
        <legend class="form__legend">Phone</legend>
        <label class="visually-hidden" for="telephone">Phone number</label>
        <input class="form__input-text form__input-text--tel" type="tel" name="telephone" id="telephone" placeholder="+7 ХХХ ХХХ ХХ ХХ*" pattern="^[0-9-+\s()]*$" required minlength="11" maxlength="16">
        <svg width="25" height="24" viewBox="0 0 25 24" xmlns="http://www.w3.org/2000/svg">
          <g>
          <path d="M17.4395 24C17.0363 24 16.7339 24 16.3306 24C11.3911 23.4074 7.7621 21.1358 5.14113 18.2717C2.52016 15.4075 0.403226 11.7532 0 6.7162C0 6.22237 0 5.82731 0 5.33349C0.100806 4.44461 0.504032 3.85202 1.10887 3.25943C1.71371 2.56808 2.72177 1.77796 3.62903 1.6792C4.33468 1.6792 5.44355 2.17302 5.84677 2.76561C6.25 3.25943 6.45161 4.34584 6.65323 5.13596C6.85484 6.02484 7.25806 7.11125 7.15726 7.90137C6.95565 9.08655 5.34274 9.58037 4.93952 10.4693C6.55242 14.1235 9.07258 16.889 12.5 18.6667C13.3065 18.1729 14.1129 16.7902 15.3226 16.7902C15.7258 16.7902 16.3306 16.9877 16.7339 17.0865C17.2379 17.1852 17.6411 17.3828 18.0444 17.5803C18.75 17.8766 20.0605 18.1729 20.4637 18.7655C20.8669 19.3581 21.1694 20.3457 21.0685 20.9383C20.7661 22.2222 18.6492 23.6049 17.4395 24Z"/>
          <path d="M12.6008 1.48147C18.5484 1.48147 23.4879 6.22217 23.4879 12.1481H25C25 5.43205 19.4556 0 12.6008 0V1.48147Z"/>
          <path d="M12.6008 9.18506V10.7653C13.4073 10.7653 14.0121 11.3579 14.0121 12.148H15.625C15.625 10.5678 14.3145 9.18506 12.6008 9.18506Z"/>
          <path d="M12.6008 6.12356C15.9274 6.12356 18.75 8.79021 18.75 12.1482H20.3629C20.3629 8.00009 16.9355 4.64209 12.7016 4.64209V6.12356H12.6008Z"/>
          </g>
        </svg>
      </fieldset>
      <fieldset class="form__fieldset form__email">
        <legend class="form__legend">E-mail</legend>
        <label class="visually-hidden" for="email">Your Email</label>
        <input class="form__input-text form__input-text--email" type="email" name="email" id="email" placeholder="Your Email*" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required>
        <svg width="32" height="21" viewBox="0 0 32 21" xmlns="http://www.w3.org/2000/svg">
          <path d="M28 0H4C1.8 0 0 1.8 0 4V17C0 19.2 1.8 21 4 21H28C30.2 21 32 19.2 32 17V4C32 1.8 30.2 0 28 0ZM2 5.3L9 10.6L2 15.9V5.3ZM30 17C30 18.1 29.1 19 28 19H4C2.9 19 2 18.1 2 17L9.8 11.1L14.2 14.4C14.7 14.8 15.4 15 16 15C16.6 15 17.3 14.8 17.8 14.4L22.2 11.1L30 17ZM30 15.8L23 10.5L30 5.2V15.8ZM17.2 13.6C16.8 13.9 16.4 14 16 14C15.6 14 15.1 13.9 14.8 13.6L10.7 10.5L9.9 9.9L2 4C2 2.9 2.9 2 4 2H28C29.1 2 30 2.9 30 4L17.2 13.6Z"/>
        </svg>          
      </fieldset>
    </div>
    <fieldset class="form__fieldset form__additional">
      <legend class="form__legend">Additional</legend>
      <label class="visually-hidden" for="additional-text">Additional requests for the order</label>
      <textarea class="form__additional-text" name="additional-text" id="additional-text" placeholder="Describe all your wishes for the order"></textarea>
    </fieldset>
    <div class="form__footer">
      <p class="form__footnote">*Required fields</p>
      <app-button class="form__button-submit"
        [textContent]="'T_ACTION.PLACE_ORDER'"
      ></app-button>
    </div>
  </form>
</main>