<section class="featured-item" *ngIf="featured">
  <h2 class="visually-hidden">Bestseller</h2>
  <div class="featured-item__wrapper">
    <h3 class="featured-item__name">{{ featured.name }}</h3>
    <p class="featured-item__tag">Bestseller of the week</p>
    <p class="featured-item__description">{{ featured.description }}</p>
    <div class="featured-item__details-table details-table">
      <div class="details-table__row">
        <div class="details-table__definition">{{ 'T_PRODUCT.COLOR' | translate }}:</div>
        <div>{{ featured.color }}</div>
      </div>
        <div class="details-table__row">
          <div class="details-table__definition">{{ 'T_PRODUCT.DIAMETER' | translate }}:</div>
          <div>{{ featured.diameter }} cm</div>
        </div>
        <div class="details-table__row">
          <div class="details-table__definition">{{ 'T_PRODUCT.HEIGHT' | translate }}:</div>
          <div>{{ featured.height }} cm</div>
        </div>
      </div>
      <app-picture
        isFeatured
        [fileName]="featured.img.name"
        [altText]="featured.img.alt"
        [height]="315"
        [width]="260"
      ></app-picture>
    <p class="featured-item__price">Price: {{ featured.price | price}}</p>
    <app-button class="button-order"
      [textContent]="'T_ACTION.ORDER'"
    ></app-button>
  </div>
</section>