<main class="page-inner">
  <div class="page-inner__header">
    <h1 class="page-inner__title">{{ isLoginPage ? 'Login' : 'Sign up'}}</h1>
  </div>
  <div class="login" [@formFlip]="formFlipped ? true: false">

    <!-- Login / sign up form -->

    <form
      class="login-form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      
      <!-- Email -->
      <div
        class="form-field"
        [ngClass]="{ 'invalid': email && email.invalid && (email.dirty || email.touched)}"
      >
        <fa-icon [icon]="faEnvelope"></fa-icon>
        <label class="visually-hidden" for="email">E-mail</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          placeholder="Email"
          required
        />
        <div *ngIf="email && email.invalid && (email.dirty || email.touched)" class="alert">
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['pattern']">A valid email is required.</div>
        </div>
      </div>
      
      <!-- Password -->
      <div
        class="form-field"
        [ngClass]="{ 'invalid': password && password.invalid && (password.dirty || password.touched)}"
      >
        <fa-icon [icon]="faLock"></fa-icon>
        <label class="visually-hidden" for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          id="password"
          placeholder="Password"
          required
        />
        <div *ngIf="password && password.invalid && (password.dirty || password.touched)" class="alert">
          <div *ngIf="password.errors?.['required']">Password is required.</div>
          <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters long.</div>
        </div>
      </div>

      <a class="forgot-pass" [routerLink]="'#'">Forgot password</a>

      <button class="button green">{{ (isLoginPage ? 'T_ACTION.LOGIN' : 'T_ACTION.SIGNUP') | translate }}</button>
    </form>

    <!-- Login / sign up through third-party resources -->

    <div class="alt-login">
      <span>or {{ isLoginPage ? 'login' : 'sign up'}} with</span>
      <div class="logos">
        <button
          matTooltip="{{ isLoginPage ? 'Login through Google' : 'Sign up through Google' }}"
          aria-label="Add to cart"
        ><fa-icon [icon]="faGoogle" class="google" size="lg"></fa-icon></button>
        <button
          matTooltip="{{ isLoginPage ? 'Login through Facebook' : 'Sign up through Facebook' }}"
          aria-label="Add to cart"
        ><fa-icon [icon]="faFacebookF" class="fb" size="lg"></fa-icon></button>
        <button
          matTooltip="{{ isLoginPage ? 'Login through GitHub' : 'Sign up through GitHub' }}"
          aria-label="Add to cart"
        ><fa-icon [icon]="faGithub" class="github" size="lg"></fa-icon></button>
      </div>
    </div>

    <div class="signup">
      <div class="signup-wrapper" *ngIf="isLoginPage; else signUpPage">
        <span>Don't have an account?</span>
        <button class="button basic" (click)="changePageMode()">{{ 'T_ACTION.SIGNUP' | translate }}</button>
      </div>
      <ng-template #signUpPage>
        <div class="signup-wrapper">
          <span>Already have an account?</span>
          <button class="button basic" (click)="changePageMode()">{{ 'T_ACTION.LOGIN' | translate }}</button>
        </div>
      </ng-template>
    </div>
  </div>
</main>