.page-blank {
  position: relative;

  @media (min-width: $desktop-width) {
    top: -44px;
    margin-bottom: -44px;
    border-top: 1px solid $light-grey-border;
  }
}

.page-blank h1 {
  margin: 145px auto;
  text-align: center;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  word-break: break-word;
}
