.user-navigation {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 88px;
    max-height: 88px;
    margin-right: 50px;
    margin-left: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    max-height: none;
    position: relative;
    margin: 0;
    padding-right: 50px;
  }
}

.user-navigation li {
  position: relative;
}

.user-navigation a,
.user-navigation button,
.user-navigation .current-page {
  @media (min-width: $tablet-width) {
    min-height: 88px;
    border-left: 1px solid $light-grey-border;
    outline-offset: -1px;
  }
}

.user-navigation__item a,
.user-navigation__item button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border-right: none;
  border-top: none;
  border-bottom: none;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;

  &:hover,
  &:active {
    & mat-icon {
      color: $light-green;
    }

    .user-navigation__item-text {
      opacity: 0.6;
    }
  }
}


.page-navigation mat-icon {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.user-navigation__item--cart .user-navigation__item-text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-navigation__item--login mat-icon {
  margin-left: 20px;
}

.user-navigation__cart a,
.user-navigation__cart .current-page {
  position: relative;
  justify-self: flex-end;
}