.page-form__description {
  line-height: 24px;
  margin: 0;
  margin-bottom: 29px;
  font-size: 13px;
  color: $basic-dark-grey;

  @include padding-left-right;

  @media (min-width: $tablet-width) {
    @include padding-tablet;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    margin: 0 auto;
    margin-bottom: 27px;
    padding: 0 224px;
    box-sizing: border-box;
  }
}