<li class="catalog-item">
  <a class="catalog-item__link" [routerLink]="[product.id]">
    <app-picture
      [imageUrls]="product.img.url"
      [altText]="product.img.alt"
    ></app-picture>
  </a>
  <div class="catalog-item__details">
    <h3 class="catalog-item__name"><a [routerLink]="['catalog', product.id]">{{ product.name }}</a></h3>
    <p class="catalog-item__description">{{ 'T_PRODUCT.HEIGHT' | translate }} {{ product.height }} cm, {{ 'T_PRODUCT.WEIGHT' | translate | lowercase }} {{ product.weight }} g</p>
    <div class="catalog-item__bottom">
      <p class="catalog-item__price">{{ product.price | currency }}</p>
      <app-icon-button aria-label="Add to cart" [iconKey]="'cart'"></app-icon-button>
    </div>
  </div>
</li>
