<li class="catalog-item">
  <a [routerLink]="[product.id]">
    <app-picture
      [fileName]="product.img.name"
      [altText]="product.img.alt"
    ></app-picture>
  </a>
  <div class="catalog-item__details">
    <h3 class="catalog-item__name"><a [routerLink]="['catalog', product.id]">{{ product.name }}</a></h3>
    <p class="catalog-item__description">{{ 'T_PRODUCT.HEIGHT' | translate }} {{ product.height }} cm, {{ 'T_PRODUCT.WEIGHT' | translate | lowercase }} {{ product.weight }} g</p>
    <div class="catalog-item__bottom">
      <p class="catalog-item__price">{{ product.price | price}}</p>
      <app-cart-button aria-label="Add to cart"></app-cart-button>
    </div>
  </div>
</li>
